<section>
  <div class="welcome center">
    <h2>Welcome, what do you want to do today?</h2>
  </div>
  <div class="center">
    <div class="flex">
      <div class="col">
        <mat-card>
          <img mat-card-image height="160" src="https://legacykey.tech/frontend/dist/app/assets/svg/crear-herencia.svg">
          <mat-card-content>
            <p>Secure the future of your loved ones, create an inheritance in just a few minutes.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="pagar()">Create my inheritance</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image height="160" src="https://legacykey.tech/frontend/dist/app/assets/svg/validar-suceso.svg">
          <mat-card-content>
            <p>Help us validate an event, your participation is of great importance.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="votar()">Validate Event</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image height="160" src="https://legacykey.tech/frontend/dist/app/assets/svg/ver-herencia.svg">
          <mat-card-content>
            <p>Here we give you more information about the inheritance they have left you.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="cobrar()">See my inheritance</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
