<section>
  <h3 class="welcome center">
    Conecta tu wallet
  </h3>
  <div class="center">
    <p>
      <a mat-raised-button color="primary" (click)="onPeraConnect()">
        <span class="flex">
          <img
            src="https://cdn-images-1.medium.com/v2/resize:fit:1200/1*6IXBhu4YtdCpHlWZkmWAAw.png"
            alt="Pera Algo Wallet" width="24">
          <span>Conectar con Pera Algo Wallet</span>
        </span>
      </a>
    </p>

    <p>
      <a mat-raised-button color="primary" (click)="onMetamaskConnect()">
        <span class="flex">
          <img
            src="https://assets.pancakeswap.finance/web/wallets/metamask.png"
            alt="Metamask Wallet" width="24">
          <span>Conectar con Metamask Wallet</span>
        </span>
      </a>
    </p>

    <p>
      <a mat-raised-button color="primary" (click)="onPolkadotConnect()">
        <span class="flex">
          <img
            src="/svg/polkadot.svg"
            alt="Polkadot Wallet" width="24">
          <span>Conectar con Polkadot Wallet</span>
        </span>
      </a>
    </p>

    <p>
      <a mat-raised-button color="primary" (click)="onXverseConnect()">
        <span class="flex">
          <img
            src="https://play-lh.googleusercontent.com/UiUoRVY5QVI5DAZyP5s6xanuPRrd8HNbKGpjKt3HVPVuT6VJcnXVqR7V4ICQ9rYRCg"
            alt="Xverse Wallet" width="24">
          <span>Conectar con Xverse Wallet</span>
        </span>
      </a>
    </p>
  </div>
</section>
