<section>
  <form id="contract-form" class="form">

    <div class="validators">
      <h4>Heir</h4>
      <div class="row">
        <label>LegacyID</label>
        <input type="text" name="idWithdraw" [(ngModel)]="heir.idWithdraw" placeholder="Write the LegacyID here"
          required />
      </div>
      <div class="row">
        <label>Name</label>
        <input type="text"  placeholder="Write your names here"
          required />
      </div>
      <div class="row">
        <label>Surnames</label>
        <input type="text"  placeholder="Write your surnames here"
          required />
      </div>
      <div class="row">
        <label>Wallet: {{wallterAddress}} </label>
      </div>
    </div>

    <div class="footer">
      <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
      <button type="submit" (click)="cobro()" color="primary">Withdraw</button>
    </div>
  </form>
</section>
